.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contact_profile_pic{
    width:30px;
    height:30px;
    object-fit: cover;
    border-radius: 50px;
  }

  .search-container{
    position: relative;
  }
  .search-result{
    position:absolute;
    background:white;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    display: none;
  }

  